.what_we_do {
	padding-top: 28px;
}

.what_we_do h3 {
	color: #A6001B;
	font-size: 22px;
}

.what_we_do p {
	font-size: 16px;
	line-height: 1.4em;
}

.blog_post_title {
	padding-top: 20px;
}

.blog_post_title h2 {
	color:#A6001B;
	font-size: 26px;
	line-height: 1.4em;
}

.blog_post_body p {
	font-size: 18px;
	line-height: 1.4em;
}

.posts {
	margin-left: -40px;
}

.blog_follow_us li {
	padding-right: 15px;
}