<div class="hero_background">
  <div class="container-fluid">
    <div class="hero_area">
      <div class="row">
        <div class="col-md-8">
          <h1>Is email your top source for identifying sales opportunities?
            <div class="hero_callout">It should be.</div>
          </h1>
          <div class="hero_p">
            <p>Elevate’s Smart Email platform combines Big Data with B2B Email Marketing to help companies understand which clients are ready to make buying decisions.
            </p>
          </div>
          <div class="cta_buttons">
            <a href="/contacts/new"><button type="button" class="btn btn-lg btn-primary">Schedule Demo</button></a>
             <a href="/platform"><button type="button" class="btn btn-lg btn-success">How It Works</button></a>
          </div>
        </div>
        <div class="col-md-4 hero_image">
         <%= image_tag 'leads_hand.jpg' %>
        </div>
      </div>
    </div>
  </div>
</div>

