<div class="platform_header">
	<h1>Elevate Programs</h1>
	<p>Our clients have found incredible success using Elevate to power the following types of programs.</p>
</div>



<div class="container">
  <hr>
</div>

<!-- Program section text -->
<div class="example_programs">
	<div class="container">
		<div class="row">
			<div class="span4 program">
				<h2>Personalized Newsletters</h2>
				<p>Improve your customer relationships by enabling your salesteam to send out personalized newsletters to all of their contacts. Elevate uses social data to create 1-to-1 email newsletters.</p> 
			</div>
			<div class="span4 program">
				<h2>Brand Ambassadors</h2>
				<p>Increase social media traffic and engagement by ensuring that your brand ambassadors are up to date on all of your most important online updates. Make it easy for them to share your best content with their networks.</p> 
			</div>
			<div class="span4 program">
				<h2>Content Marketing</h2>
				<p>Don't rely on luck to get your digital content into the hands of customers, employees and fans. Automate the selection and delivery of your best content to the people who want to see it.</p> 
			</div>
		</div>
	</div>
</div>

<div class="elevate_stat">
  <div class="container">
    <div class="stat_container">
  	  <h2>Deliver a personalized, content-driven email experience for your customers. </h2>
  	</div>
  </div>
</div>


<!-- Benefits section -->
<div class="benefits">
  <div class="container">
  	<div class="row">
  		<div class="span4 side_benefit">
  			<h2>Redefined Newsletters</h2>
				<p>Email marketing is a staple of any effective digital campaign. Our next generation email platform makes it impossible to under-deliver on your email marketing goals.</p> 
  		
  		</div>
  		<div class="span7 benefits_checklist">
  			<h2>All Programs Include:</h2>
  			<ul>
  				<li><p>Detailed needs assessment</p></li>
  				<li><p>Content & audience analysis</p></li>
  				<li><p>Competitive overview and strategy</p></li>
  				<li><p>Elevate 'White Glove' setup</p></li>
  				<li><p>Marketing team Elevate accounts</p></li>
  				<li><p>Access to Elevate's Content Curation module</p></li>
  				<li><p>Elevate Intelligent Newsletters creation and analytics</p></li>
  				<li><p>Analytics and Insights Dashboard</p></li>
  				<li><p>24/7 phone and email customer service</p></li>

  			</ul>
  		</div>
  	</div>
  </div>
</div>


<div class="container">
  <hr>
</div>

<div class="contact_us">
  <div class="container">
  	<h2>Want to Know More?</h2>
  	 <p><%= button_to "Schedule Demo", new_contact_path, :class => "btn btn-large btn-info cta_button_1", :method => :get %></p>
  </div>
</div>