.navbar {
	background-color: #fff !important;
	border-bottom: #fff !important;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 10px !important;
	@media (max-width: 480px) {
    padding-left: 0px;
	  padding-right: 0px;
	}
}

.navbar-default {
	padding-bottom: -15px;
	margin-bottom: -100px;
}

body h3 h2 {
	font-family: 'Merriweather',serif;
}

body p {
	
}


.navbar img {
	padding-top: 10px;
	@media (max-width: 480px) {
    text-align: center;
	}
}

.navbar ul li {
	padding-right: 14px;
	font-size: 20px;
	color: #25383C;
	padding-top: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar ul li a {
	color: #25383C !important;
	font-style: bold !important;
}

.contact_link {
	padding-top: 10px !important;
}

.contact_link a {
	padding-top: 10px;
	color: #A6001B !important;
}


 
.hero_background {
	
	background: url(/assets/squairy_light.png);
	background: url(/assets/grey_wash_wall.png);
	background: url(/assets/fabric_of_squares_gray.png);
	background: url(/assets/cream_pixels.png);
	background: url(/assets/dark_fish_skin.png);
	background: url(/assets/wavegrid.png);
	background: #E0EEEE;
	background: #C8C8C8  url(/assets/transparent_grid.png) center center;
	background-color: #C8C8C8 url(/assets/transparent_grid.png) center center;
	background: url(/assets/wavegrid.png);
	background: url(/assets/fabric_plaid.png);
	background: url(/assets/dark_circles.png);
  background: url(/assets/whitey.png);
  background: url(/assets/random_grey_variations.png);
  background: url(/assets/little_pluses.png);
  background: url(/assets/black-Linen.png);
  background: url(/assets/crossed_stripes.png);
  background: url(/assets/gray_jean.png);
	min-height: 420px;
	background: #f7f7f7 url(/assets/grid12.png) center center;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

.hero_area {
	padding-top: 10px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
	@media (max-width: 480px) {
    padding-left: 0px;
	  padding-right: 0px;
	}
}

.hero_area h1 {
	text-align:center; 
	font-size: 56px; 
	color: #A6001B;
	font-family: 'Merriweather',serif;
	line-height: 1.4em;
}

.hero_area h2 {
	text-align:center; 
	font-size: 28px;
	color: #25383C;
	font-family: 'Open Sans', Arial, sans-serif;
	margin-top: -5px;
}

.hero_area p {
	font-size: 22px;
	color: #5C5858;
	line-height: 1.4em;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	
}

.cta_buttons {
	 text-align: center; 
}

.cta_buttons button {
	@media (max-width: 480px) {
    margin-right: 20px;
    margin-top: 15px;
	}
}

.btn.btn-primary {
  background-color: #428bca;
}

.second_statement {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto;
	font-family: 'Merriweather',serif;
}

.second_statement h2 {
	text-align:center;
	color: #A6001B;
	padding-top: 20px;
	padding-bottom: 10px;
}

.second_statement p {
	font-size: 16px;
	color: #5C5858;
	line-height: 1.2em;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.second_statement hr {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}


.testimonial_background {
	background-color: #f6f6f6;
	background: #f6f6f6;
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.testimonial_background p {
	font-style: italic;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 20px;
	color: #A6001B;

}

.testimonial_attribute img {
	display: inline;
}

.testimonial_attribute p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #504A4B;
}

.quote_mark {
	font-size: 28px;
	color: #504A4B;
}

.third_statement {
	text-align: center;
	padding-bottom: 30px;
}

.third_statement h2 {
	text-aign:center;
	color: #A6001B;
	padding-top: 30px;
	padding-bottom: 20px;
	font-family: 'Merriweather',serif;
}

.benefit_text {
	margin-bottom: 40px;
}

.benefit_text h3 {
	color: #25383C;
	font-size: 28px;
	margin-bottom: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.benefit_text p {
	color:  #404040;
	margin-bottom: 15px;
	font-size: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.benefit_text li {
	list-style-image: image-url("green_checkmark.png");
}

.benefit_text ul {
	padding-top: 20px;
	padding-left: 20px;
}

.benefit_text ul p {
  font-size: 18px;
	padding-bottom: 5px;
	color: #575757;
	font-family: 'Open Sans', Arial, sans-serif;
}

.benefit_spacing {
	margin-top: 40px;
	margin-bottom: 40px;
}

.benefit_center {
	text-align: center;
}

.crm_info {
	margin-bottom: -35px;
}

.third_party_quote {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background: #f7f7f7;
	background-color: #f7f7f7;
	font-family: 'Open Sans', Arial, sans-serif;
}

.third_party_quote h2 {
	font-size: 28px;
	text-align: center;
	color: #25383C;
	padding-bottom: 10px;
	line-height: 1.4em;
}

.third_party_quoter {
	font-size: 16px;
	color: #25383C;
}

.home_page_contact {
	text-align: center;
	padding-bottom: 50px;
}

.home_page_contact h2 {
	color: #A6001B;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Merriweather',serif;
}

.home_page_contact p {
	font-size: 16px;
	padding-bottom: 40px;
	color: #575757;
	font-family: 'Open Sans', Arial, sans-serif;
}

.home_page_button {
	text-align: center;
}

.button_text {
	font-size: 24px;
	@media (max-width: 480px) {
    font-size: 16px;
	}
}

.footer_width {
	padding: 40px 40px 40px 40px;
	background: #f7f7f7;
	background-color: #f7f7f7;
}

footer {
	min-height: 100px;
}

footer h2 {
	color: #404040;
	text-decoration: none;
}

footer p {
	color: #737373;
	text-decoration: none;
}

.quick_links {
	padding-top: 40px;
}

.quick_links li {
	list-style-type: none;
	color: #737373;
	margin-top: 15px;
	@media (max-width: 480px) {
	  margin-top: 5px;
	}
}

.quick_links li a {
	color: #737373;
}

.follow_us ul {
	display: block;
}
.follow_us li {
	list-style-type: none;
	float: left;
}

.follow_us li a{
	display: block;
	width: 20px;
}

.copyright_area {
	background: #333333;
	background-color: #333333;
}

.copyright {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.copyright p {
	color: #fff;
	font-size: 12px;
}


.platform_overview {
	border-top: 1px solid #c0c0c0;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.platform_overview h1 {
	color: #A6001B;
	font-family: 'Merriweather', serif;
}

.platform_overview h3 {
	color: #A6001B;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #25383C;
	padding-bottom: 40px;
}

.how_works h2 {
	color: #A6001B;
}

.how_works p {
	font-size: 18px;
	line-height: 1.4em;
}

.platform_page_header h1 {
	text-align: center;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 36;
}

.platform_page_header p {
	font-size: 18px;
	color: #f7f7f7;
	line-height: 1.2em;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.elevate_quote {
	padding-top: 40px;
	padding-bottom: 40px;
}

.nav-tabs {
	margin-top: 30px;
	text-align: center;
}

.nav-tabs li {
	font-size: 18px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.nav-tabs li a {
	color: #A6001B;
}

.big_product_image {
	text-align: center;
}

.big_product_image h2 {
	color: #A6001B;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Merriweather', serif;
}

.big_product_image p {
	font-size: 16px;
	color: #5C5858;
	line-height: 1.2em;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	max-width: 800px;
}

.big_product_image_border {
	border-bottom: 1px solid #c0c0c0;
}

.big_product_image img {
	margin-top: 10px;
}

.good_email p {
	font-size: 18px;
	color: #5C5858;
	line-height: 1.4em;
	padding-top: 10px;
}

.benefit_text p {
	color:  #404040;
	margin-bottom: 15px;
	font-size: 20px;
}

.good_email {
	padding-bottom: 30px;
}

.good_email li {
	list-style-image: image-url("green_checkmark.png");
}

.good_email ul {
	padding-top: 20px;
	padding-left: 20px;
}

.good_email ul p {
  font-size: 18px;
	padding-bottom: 5px;
	color: #575757;
}

.faq_section {
	padding-top: 20px;
	padding-bottom: 40px;
}

.faq_section h2 {
	color: #A6001B;
	padding-bottom: 10px;
	font-family: 'Merriweather', serif;
	text-align: center;
}

.faq_question {
	border-bottom: 1px solid #f7f7f7;
	padding-bottom: 10px;
}

.faq_question h3 {
	font-size: 22px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #25383C;
	font-weight: bold;
}


.faq_question p {
	font-size: 16px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #A1A1A1;
	line-height: 1.4em;
}

.faq_question p a {
	color: #A6001B;
	text-decoration: none;
}


.program_page_top {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-top: 1px solid #c0c0c0;
	padding-top: 40px;
	padding-bottom: 10px;
}

.program_page_top h1 {
	color: #A6001B;
	font-family: 'Merriweather', serif;
}

.program_page_top h3 {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #25383C;
	padding-bottom: 40px;
}

.program_image {
	border-bottom: 1px solid #c0c0c0;
}

.programs_benefits {
	text-align: center;
	padding-bottom: 25px;
	padding-top: 20px;
}

.programs_benefits h2 {
	padding-bottom: 10px;
	font-size: 30px;
	color: #A6001B;
	font-family: 'Merriweather', serif;
}

.programs_benefits h3 {
	color: #25383C;
	padding-bottom: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.programs_benefits p {
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 10px;
	color: #575757;
	font-family: 'Open Sans', Arial, sans-serif;
}

.program_checklist {
  border-top: 1px solid #c0c0c0;
	padding-top: 40px;
	padding-bottom: 10px;
}

.program_checklist h2 {
	padding-bottom: 10px;
	font-size: 30px;
	color: #A6001B;
	text-align: center;
	font-family: 'Merriweather', serif;
}


.program_checklist h3 {
	color: #25383C;
	padding-bottom: 20px;
}

.program_checklist p {
  font-size: 18px;
	padding-bottom: 5px;
	padding-top: 10px;
	color: #575757;
}

.program_checklist li {
	list-style-image: image-url("green_checkmark.png");
	text-align: left;
}

.program_checklist ul {
	padding-top: 20px;
	padding-left: 10px;
}
.checklist_right {
	text-align: left;
	margin-left: 30px;
	@media (max-width: 480px) {
    margin-left: 0px;
	}
}

.program_checklist ul p {
  font-size: 18px;
	padding-bottom: 5px;
	color: #575757;
}

.contact_section {
	margin-bottom: 40px;
}

.contact_section h3 {
	color: #25383C;
	padding-bottom: 20px;
	font-size: 28px;
}

.contact_section p {
  font-size: 18px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #575757;
	max-width: 500px;
}

.contact_section img {
	float: left;
}

.contact_form {
	min-height: 600px;

}

.contact_form_area {
	padding-top: 20px;
	padding-left: 40px;
}

.contact_form form {
	min-height: 400px;
	margin-top: 20px;

}

.contact_form label {
	color: #25383C;
	font-size: 20px;
	margin-right: 15px;
	width: 100px;
}

.contact_form input {
	color: #25383C;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.contact_button input {
  color: #fff;
  font-size: 20px;
  margin-left: 120px;
	}

.button_text {
	  width: 200px;
	  text-align: right;
	}