.how_it_works_list {
	test-align: left;
}

.how_it_works_list h3 {
	text-align: center;
	padding-bottom: 5px;
}

.how_it_works_list ul li {
	text-align: left;
	list-style-image: image-url("green_checkmark2.png");
	font-size: 20px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	padding-top: 12px;
	
}

.how_works_signup {
	margin-top: 30px;
	border-top: 1px solid #c0c0c0;
}

.what_you_get {
	margin-top: 30px;
	margin-bottom: 30px;
}

.what_you_get h1 {
	text-align: center; 
	font-size: 36px; 
	color: #A6001B;
	font-family: 'Merriweather',serif;
	line-height: 1.4em;
	padding-bottom: 10px;
}

.what_you_get h3 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #25383C;
	font-size: 28px;
	text-align: center;
	line-height: 1.4em;

}