<footer>
  <div class="container">	
    <div class="row-fluid">
      <div class="span12">
	    <div class="hiring span4" style="width: 30%;">
		  <h3>We're Hiring!</h3>
  	      <p>Elevate is always looking for talented people to join our growing team. Send us an email with a bit about yourself and let's talk.</p>
	      <p><button type="button" class='btn btn-large btn-warning'>Contact Us</button></p>
		</div>
					
		<div class="quick_links span3" style="width: 15%;">
		  <ul>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>How it Works</li></a>
            <a href="#"><li>About Elevate</li></a>
            <a href="#"><li>Contact Us</li></a>
          </ul>
		</div>
					
		<div class=" quick_links span3" style="width: 20%;">
		  <ul>
            <a href="#"><li>Schedule Demo</li></a>
            <a href="#"><li>Blog</li></a>
            <a href="#"><li>Client Examples</li></a>
            <a href="#"><li>Login</li></a>
          </ul>
		</div>
		
		<div class="follow_us span3" style="width: 25%;">
		  <h3>Follow Us</h3>
  	      <ul>
  	        <li><%= image_tag 'google+.png' %></li>
  	        <li><%= image_tag 'linkedin.png' %></li>
  	        <li><%= image_tag 'twitter.png' %></li>
  	        <li><%= image_tag 'facebook.png' %></li>
		  </ul>
		</div>				
	  </div>
	</div>
  </div>
</footer>

<div class="copyright">
  <p>@ Copyright 2013 Elevate Inc. All Rights Reserved</p>
<div>